In [1]:
# Data Collection 
# Data Pre Processing
# EDA
# Conclusions

In [ ]:
from bs4 import BeautifulSoup as soup
from datetime import date,datetime
from urllib.request import Request,urlopen
import pandas as pd
import numpy as np

In [ ]:
import matplotlib.pyplot as plt
import plotly.graph_objects as go 
import plotly.express as px
import plotly.offline as py 
import seaborn as sns
import gc 
import warnings
warnings.filterwarnings("ignore")
from pandas_profiling import profile_reportr

In [ ]:
url = "https://www.worldometers.info/coronavirus/#countries"
req = Request(url , headers={'User-Agent':"mozilla/5.0"})
webpage = urlopen(req)
page_soup = soup(webpage ,"html.parser")
print(page_soup)

In [4]:
today= datetime.now()
yesterday_str = "%s %d,%d" % (date.today().strftime("%b"),today.day-1 , today.year)
yesterday_str

'Jan 18,2023'

In [ ]:
table = page_soup.findAll("table",{"id":"main_table_countries_yesterday"})

containers = table[0].findAll("tr",{"style":""})
title = containers[0]

del containers[0]


all_data = []
clean = True
for country in containers:
    country_data=[]
    country_container = country.findAll("td")
    
    if country_container[1].text == "china":
        continue
    for i in range(1, len(country_container)):
        final_feature = country_container[i].text
        if clean:
            if i != 1 and i != len(country_container)-1:
                final_feature=final_feature.replace(",","")
                        
                if final_feature.find('+') != -1:
                    final_feature = final_feature.replace("+","")
                    final_feature = float(final_feature)
                elif final_feature.find("-") != -1:
                    final_feature = final_feature.replace("-","")
                    final_feature = float(final_feature)*-1
        if final_feature == "N/A":
            final_feature = 0
        elif final_feature == "" or final_feature == " ":
            final_feature = -1
                        
        country_data.append(final_feature)
                
    all_data.append(country_data)

In [ ]:
all_data

In [ ]:
df = pd.DataFrame(all_data)
df.drop([15,16,17],inplace=True , axis=1)
df.head()

In [10]:
column_labels = ["Country", "Total Cases","New Cases","Total Deaths","New Deaths","Total Recovered","New Recoverd", 
                "Active Cases","Serious/Critical","Total Cases/1M","Deaths/1M","Total Tests","Test/1M" ,"Population","Continent"]
df.columns=column_labels

NameError: name 'df' is not defined

In [ ]:
df.head()

In [ ]:
for label in df.columns:
    if label != "Country" and label != "Continent":
        df[label]=pd.to_numeric(df[label])

In [ ]:
df["%Inc Cases"] = df["New Cases"]/df["Total Cases"]*100
df["%Inc Deaths"] = df["New Deaths"]/df["Total Deaths"]*100
df["%Inc Recovered"] = df["New Recovered"]/df["Total Recovered"]*100

In [27]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,18,19,20
0,World,672189588,269078.0,6736602,1588.0,643636275,369725.0,21816711,45009,86236,864.2,-1,-1,-1,All,-1,-1,-1
1,China,503302,-1.0,5272,-1.0,379053,-1.0,118977,7557,347,4,160000000,110461,1448471400,Asia,-1,-1,82
2,USA,103701168,26157.0,1127059,348.0,100619072,126107.0,1955037,4332,309736,3366,1157390529,3456907,334805269,North America,78,1,"5,839"
3,India,44681884,-1.0,530728,-1.0,44148815,170.0,2341,698,31765,377,913255016,649250,1406631776,Asia,-1,-1,2
4,France,39467281,5894.0,163644,82.0,39106811,24337.0,196826,869,601777,2495,271490188,4139547,65584518,Europe,90,1,"3,001"

In [ ]:
cases = df[["Total Recovered", "Active Cases","Total Deaths"]].loc[0]

cases_df = pd.DataFrame(cases).reset_index()
cases_df.columns = ["Type", "Total"]

cases_df["percentage"] = np.around(100*cases_df['Total']/np.sum(cases_df["Total"]),2)
cases_df["virus"] = ["COVID-19" for i in range(len(cases_df))]

fig = px.bar(cases_df,x= "Virus",y="Percentage",color="Type",hover_data=['Total'])
fig.show()

In [1]:
cases = df[["New Cases", "New Recoverd","New Deaths"]].loc[0]

cases_df = pd.DataFrame(cases).reset_index()
cases_df.columns = ["Type", "Total"]

cases_df["percentage"] = np.around(100*cases_df['Total']/np.sum(cases_df["Total"]),2)
cases_df["virus"] = ["COVID-19" for i in range(len(cases_df))]

fig = px.bar(cases_df,x= "Virus",y="Percentage",color="Type",hover_data=['Total'])
fig.show()

NameError: name 'df' is not defined

In [ ]:
per = np.round(df[["%Inc cases" , "%Inc Deaths" ,"%Inc Recovred"]].loc[0],2)
per-df = pd.DataFrame(per)
per_df